.pytest_cache
.vscode
backend/jitai_rm_venv
backend/.env
frontend/android
frontend/build
frontend/ios
frontend/linux
frontend/macos
frontend/test
frontend/web
frontend/windows
frontend/.giignore
frontend/.metadata
frontend/analysis_options.yaml
frontend/frontend.iml
frontend/pubspec.yaml
frontend/pubspec.lock
README.md 
